#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 460px;
  width: 100%;
}

.main-menu__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
 
}

.symbols-container{
  height: 32px;
}

.button-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}


.button-container .btn{
  width: 100%;
  border-radius: 15px;
  height: 67px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--navy-blue);
  border: none;
  cursor: pointer;
}

.button-container .btn.btn-yellow{
  background-color: var(--light-yellow);
  box-shadow: 0px -8px 0px 0px #CC8B13 inset;
}

.button-container .btn.btn-blue{
  background-color: var(--light-blue);
  box-shadow: 0px -8px 0px 0px #118C87 inset;
}

.button-container .btn:active{
  box-shadow: 0px 0px 0px 0px transparent inset;;
  padding-bottom: 0;
  height: 59px;
  margin-top: 8px;
}


.choose-player__container{
  height: 205px;
  width: 100%;
  padding: 24px;
  padding-bottom: 32px;
  border-radius: 15px;
  background-color: var(--semi-dark-navy);
  box-shadow: 0px -8px 0px 0px #10212A inset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.choose-player__container h4{
  color: var(--silver);
}

.choose-player__container p{
  color: var(--silver);
  text-transform: uppercase;
  opacity: 0.5;
}

.choose-player__switch{
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 9px 8px;
  border-radius: 10px;
  background-color: var(--navy-blue);
}

.choose-player__switch div{
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
}